{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">

  <style>
    body {
      background-color: #111;
      color: #eee;
    }
  </style>

  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"></script>
</head>

<body>
  {{ template "form" .Form }}
  <hr>
  {{ template "contacts" .Data }}

  <script>
    document.addEventListener("DOMContentLoaded", event => {
      document.body.addEventListener("htmx:beforeSwap", evt => {
        if (evt.detail.xhr.status === 422) {
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      })
    })
  </script>
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/contacts" hx-swap="outerHTML">
  name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name" autofocus>
  email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email">

  {{ if .Errors.email }}
  <div style="color: red;">{{ .Errors.email }}</div>
  {{ end }}

  <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "contacts" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
  {{ range .Contacts }}
  {{ template "contact" . }}
  {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
<div id="contact-{{ .Id }}" class="contact" style="display: flex;">
  <div
    hx-delete="/contacts/{{ .Id }}"
    hx-swap="outerHTML swap:500ms"
    hx-target="#contact-{{ .Id }}"
    hx-indicator="#contact-indicator-{{ .Id }}"
    style="width: 1rem; cursor: pointer;"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" />
      <path fill="#ddd"
        d="M4 2h16a1 1 0 011 1v1a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1zM3 6h18v16a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm3 3v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0z" />
    </svg>
  </div>

  Name: <span>{{ .Name }}</span>
  Email: <span>{{ .Email }}</span>

  <div id="contact-indicator-{{ .Id }}" class="htmx-indicator">
    <img src="/images/bars.svg" alt="loading" style="width: 1rem;">
  </div>
</div>
{{ end }}

{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
  {{ template "contact" . }}
</div>
{{ end }}
