{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    body {
      background-color: #111;
      color: #eee;
    }
  </style>

  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"></script>
</head>

<body>
  {{ template "form" . }}
  <hr>
  {{ template "contacts" . }}
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/contacts" hx-target="#contacts" hx-swap="outerHTML">
  name: <input type="text" name="name" autofocus>
  email: <input type="text" name="email">

  <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "contacts" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
  {{ range .Contacts }}
  <div>
    Name: <span>{{ .Name }}</span>
    Email: <span>{{ .Email }}</span>
  </div>
  {{ end }}
</div>
{{ end }}
